.whoops404_page {
  text-align: center;
}
.whoops404msg_div {
  font-size: 40px;
  margin-top: 200px;
  margin-bottom: 200px;
  height: 600px;
}

.whoops_back_button {
  font-size: 30px;
  margin: 40px;
  width: 200px;
  height: 60px;
  background-color: rgb(255, 192, 0);
  border-radius: 10px;
}

.whoops_back_button:hover {
  color: rgb(30, 30, 30);
}
