.admin_goods {
  background-color: #ff0000;
}
.admin_goods_list {
  margin: 30px;
}

.goods_list_button {
  background-color: rgb(255, 192, 0);
  color: #111111;
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
.goods_regist {
  margin: 30px;
  background-color: #111111;
  border-radius: 10px;
  padding: 20px;
}
.goods_regist > table > tr > td {
  vertical-align: middle;
  height: 40px;
  padding: 5px;
}
.goods_regist > table > tr > td > input {
  height: 25px;
}
.goods_regist > table > tr > td > select {
  font-size: 15px;
  height: 25px;
}

.admin_goods_regist_button {
  background-color: rgb(255, 192, 0);
  color: #111111;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}
.admin_goods_regist_button_right {
  text-align: right;
}
.goods_regist > p {
  margin: 20px;
  font-size: 25px;
}
.admin_goods_won {
  text-align: left;
}
.admin_goods_input_txt {
  padding-left: 8px;
}
.admin_goods_list_table {
  margin: 20px;
}
.admin_goods_list_table > tr > th {
  background-color: rgb(255, 192, 0);
  color: #111111;
}
.admin_goods_list_table > tr > th,
.admin_goods_list_table > tr > td {
  border: solid 1px rgb(255, 192, 0);
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
