html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  color: #fff;
}
*:not(hr) {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0;
  outline-color: rgb(255, 192, 0);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*::selection {
  color: #fff;
  background: rgba(255, 192, 0, 0.8);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  line-height: 1;
  word-break: break-all;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  background: #191919;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
}
a,
a:hover,
a:focus,
button {
  color: inherit;
  text-decoration: none;
}
fieldset,
img {
  border: 0 none;
}
img {
  position: relative;
  border: 0;
  display: block;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input::-ms-clear {
  display: none;
}
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
}
xmp,
code,
pre {
  font-family: inherit;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
legend,
caption {
  height: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
strong,
b {
  font-weight: normal;
}
